.main
  .main-item
    .main-item__container
      .main-item__container-display
        .main-item__container-display__icon 
          =link_to image_tag("icon_brand.png",width:"40",height:"40"),root_path,class:"main-item__container-display__icon__brand"
          .main-item__container-display__icon__text
            FURIMA
            %br
            %br
    .main-item__content
      = form_for(@address) do |f|
        .field
          = f.label :送付先氏名（苗字） 
          %br/
          = f.text_field :family_name, autocomplete: "family_name"  

        .field
          = f.label :送付先氏名（名前）
          %br/
          = f.text_field :last_name, autocomplete: "last_name"  

        .field
          = f.label :送付先ふりがな氏名（苗字）
          %br/
          = f.text_field :j_family_name, autocomplete: "j_family_name"  

        .field
          = f.label :送付先ふりがな氏名（名前）
          %br/
          = f.text_field :j_last_name, autocomplete: "j_last_name"  

        .field
          = f.label :郵便番号
          %br/
          = f.text_field :postal_code, autocomplete: "postal_code"  

        .field
          = f.label :都道府県
          %br/
          = f.text_field :prefectures, autocomplete: "prefectures" 

        .field
          = f.label :市町村
          %br/
          = f.text_field :municipality, autocomplete: "municipality" 

        .field
          = f.label :番地
          %br/
          = f.text_field :number, autocomplete: "number"

        .field
          = f.label :ビル・アパート名
          %br/
          = f.text_field :details, autocomplete: "details"

        .field
          = f.label :電話番号
          %br/
          = f.text_field :phone_number, autocomplete: "phone_number"

        .actions
        %br
          = f.submit "Sign Up"

= render "devise/shared/links"
