.single-container__main
  .single-container__main__body
    .single-container__main__body__icon
      =link_to image_tag("icon_brand.png",width:"40",height:"40",class:"brand"),root_path
    .single-container__main__body__text
      FURIMA
  .single-container__main__header 
    購入内容の確認
    .single-container__main__header__inner1
      .single-container__main__header__inner1__image
        -# = image_tag("シャネル.jpg",width:"150",height:"150")
        - @images1.each do |image1|
          = image_tag image1.image.url
      .single-container__main__header__inner1__name
        = @item.name
        .single-container__main__header__inner1__name__price 
          -# ¥301 （税込）送料込み
          = (@item.price * 1.1).ceil
          （税込）送料込み
    .single-container__main__header__inner2
      .single-container__main__header__inner2__payment
        支払い金額
      .single-container__main__header__inner2__result
        ¥
        = @total_price
    .single-container__main__header__inner3
      .single-container__main__header__inner3__text
        支払い方法
        %br
        (カード情報)
      .single-container__main__header__inner3__card
        - if @card
          = "**** **** **** " + @default_card_information.last4
          -# = "************#{@card.last4}"
          %br
          - exp_month = @default_card_information.exp_month.to_s
          - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
          = exp_month + " / " + exp_year
        - else
          支払い情報が入力されていません。
        .single-container__main__header__inner3__card__change
          = link_to new_card_path, class: "buy-content__inner__user-info-text--change" do
            .single-container__main__header__inner3__card__change__text
              変更する
              =fa_icon("angle-right")
    .single-container__main__header__inner4
      .single-container__main__header__inner4__left
        .single-container__main__header__inner4__left__send
          配送先
          = @user.address.prefectures
        .single-container__main__header__inner4__left__post
          〒郵便番号
          = @user.address.postal_code
        .single-container__main__header__inner4__left__address
          住所
          -# = @user.address.prefectures
          -# = @user.address.municipality
          -# = @user.address.number
          -# = @user.address.details
          = @user_address
        .single-container__main__header__inner4__left__user
          ユーザ名
          = @user.nickname
      .single-container__main__header__inner4__right
        = link_to root_path, class: "buy-content__inner__user-info-text--change" do
          .single-container__main__header__inner4__right__change
            変更する
            =fa_icon("angle-right")
    .single-container__main__header__inner5
      = form_tag(action: :pay, method: :post,class:"single-container__main__header__inner5__btn") do
        %button.single-container__main__header__inner5__btn 購入する
  .single-container__main__footer
