= form_with model: @item, local: true, class: 'form' do |form| 
  = form.text_field :name, placeholder: "name", class: 'name'

  = form.fields_for :images do |i|
    = i.file_field :image

  = form.text_field :price, placeholder: "price", class: 'price'
  = form.text_area :item_text, placeholder: "商品の説明", class: 'item_text'
  = form.text_field :address, placeholder: "配送元", class: 'address'
  = form.text_field :date, placeholder: "date", class: 'date'
  = form.text_field :brand, placeholder: "ブランド", class: 'brand'
  = form.text_field :status, placeholder: "状態", class: 'status'
  = form.text_field :delivery_charge, placeholder: "配送料", class: 'charge'
  = form.text_field :size, placeholder: "サイズ", class: 'size'
  -# = form.text_field :sold_out, placeholder: "soldout", class: 'soldout'
  -# = form.text_field :category_id, placeholder: "category_id", class: 'category_id'
  = form.submit "出品", class: 'send'