-# -# テスト用のビュー
-# = form_with model: @item, local: true, class: 'form' do |form| 
-#   = form.text_field :name, placeholder: "name", class: 'name'
-#   .image-box
-#     = form.fields_for :images do |i|
-#       = i.file_field :image, class: 'js-file'

-#   = form.text_field :price, placeholder: "price", class: 'price'
-#   = form.text_area :item_text, placeholder: "商品の説明", class: 'item_text'
-#   = form.collection_select :address, Prefecture.all, :id, :name
-#   = form.text_field :date, placeholder: "date", class: 'date'
-#   = form.text_field :brand, placeholder: "ブランド", class: 'brand'
-#   = form.text_field :status, placeholder: "状態", class: 'status'
-#   = form.text_field :delivery_charge, placeholder: "配送料", class: 'charge'
-#   = form.text_field :size, placeholder: "サイズ", class: 'size'
-#   = form.submit "出品", class: 'send'
  

-# ここから本番用のview(別メンバー作成)  

.wrapper
  .main
    %section.main-item
      .main-item__container
        .main-item__container-display
          .main-item__container-display__icon 
            =link_to image_tag("icon/icon_brand.png",width:"40",height:"40",class:"brand")
            .main-item__container-display__icon__text
              FURIMA
          .main-item__container-display__head 商品の情報を入力
          .main-item__container-display__form
            = form_with model: @item, local: true, class: 'form' do |form| 
              .sell-upload-box
                %h3.sell-upload-box__head
                  出品画像
                  %span.form-require
                    必須
                %p 最大10枚までアップロードできます。
                .sell-dropbox-container
                  .sell-upload-items-container
                    .sell-upload-items.have-item-0
                      %ul
                  .sell-upload-dropbox.have-item-0.image-box
                    = form.fields_for :images do |c|
                      = c.label :image do
                        = c.file_field :image, class: "js-file", style: "display: none;"
                        .sell-upload-drop-file
                        %pre.visible-pc
                          ドラッグアンドドロップ
                          %br
                            またはクリックしてファイルをアップロード
                          %i.fas.fa-camera
                          %i.fas.fa-camera.fa-lg
              .sell-content
                .form-group
                  %label
                    商品名
                    %span.form-require 必須
                  %div
                    = form.text_field :name, class: "input-default", value: "", placeholder: "商品名（必須 40文字まで)"
                .form-group
                  %label
                    商品の説明
                    %span.form-require 必須
                  %div
                    = form.text_area :item_text, class: "textarea-default", rows: 5, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
              .sell-content.clearfix
                %h3.sell-sub-head 商品の詳細
                .sell-form-box
                  .form-group
                    = form.label "カテゴリー" do
                      カテゴリー
                      %span.form-require 必須
                      %div#appending_form
                        .select-wrap
                          %i.fa.fa-angle-down
                          = form.select :category_id, {}, {}, {class: "select-default parent-category"} do
                            %option{value: ""} ---
                            %option{value: "1"} レディース
                            %option{value: "2"} メンズ
                            %option{value: "3"} ベビー・キッズ
                            %option{value: "4"} インテリア・住まい・小物
                            %option{value: "5"} 本・音楽・ゲーム
                            %option{value: "6"} コスメ・香水・美容
                            %option{value: "7"} 家電・スマホ・カメラ
                            %option{value: "8"} スポーツ・レジャー
                            %option{value: "9"} ハンドメイド
                            %option{value: "10"} チケット
                            %option{value: "11"} 自動車・オートバイ
                            %option{value: "12"} その他
                  .form-group
                    = form.label "ブランド" do
                      ブランド
                      %span.form-require 任意
                      .select-wrap
                        -# %i.fa.fa-angle-down
                        -# = form.select :brand, {}, {}, {class: "select-default parent-category"}
                        = form.text_field :brand, class: "input-default", value: "", placeholder: "例) シャネル"
                  .form-group
                    = form.label "商品の状態" do
                      商品の状態
                      %span.form-require 必須
                      .select-wrap
                        %i.fa.fa-angle-down
                        = form.select :status, {}, {}, {class: "select-default parent-category"} do
                          %option{value: ""} ---
                          %option{value: "1"} 新品、未使用品
                          %option{value: "2"} 未使用に近い
              .sell-content.clearfix
                %h3.sell-sub-head 配送について
                = link_to "?", "/jp/help_center/article/68/", class: "form-question"
                .sell-form-box
                  .form-group
                    = form.label "配送料の負担" do
                      配送料の負担
                      %span.form-require 必須
                    .select-wrap
                      %i.fa.fa-angle-down
                      = form.select :date, {}, {}, {class: "select-default"} do
                        %option{value: ""} ---
                        %option{value: "1"} 送料込み(出品者負担)
                        %option{value: "2"} 着払い(購入者負担)
                  .form-group
                    = form.label "配送の方法" do
                      配送の方法
                      %span.form-require 必須
                    .select-wrap
                      %i.fa.fa-angle-down
                      = form.select :category_id, {}, {}, {class: "select-default"} do
                        %option{value: ""} ---
                        %option{value: "1"} らくらくメルカリ便
                        %option{value: "2"} ゆうメール


                  .form-group
                    = form.label "発送元の地域" do
                      発送元の地域
                      %span.form-require 必須
                    .select-wrap
                      %i.fa.fa-angle-down
                      = form.collection_select(:address, Prefecture.all, :id, :name, {prompt: "---"}, {class: "select-default"})

                  .form-group
                    = form.label '発送までの日数' do
                      発送までの日数
                      %span.form-require 必須
                    .select-wrap
                      %i.fa.fa-angle-down
                      = form.select :delivery_charge, {}, {}, {class: "select-default"} do
                        %option{value: ""} ---
                        %option{value: "1"} 1~2日で発送
                        %option{value: "2"} 3~4日で発送
              .sell-content.clearfix
                %h3.sell-sub-head 販売価格(300〜9,999,999)
                = link_to '?', '/jp/help_center/article/64/', class:'form-question'
                .sell-form-box
                  %ul.sell-price
                    %li.form-group
                      .clearfix
                        %label.l-left
                          価格
                          %span.form-require 必須
                        .l-right.sell-price-input
                          ¥
                          %div
                            = form.text_field :price, class: "input-default", id: "input-price", value: "", placeholder: "例)  300 "
                    %li.clearfix
                      .l-left
                        販売手数料(10%)
                      .l-right.sell-fee -
                    %li.clearfix.bold
                      .l-left 販売利益
                    .l-right.sell-profit.bold -

              .sell-content.sell-btn-box
                %div
                  %p
                    =link_to '禁止されている出品', '/jp/help_center/getting_started/prohibited_items'
                    、
                    =link_to '行為を必ずご確認ください', '/jp/help_center/getting_started/prohibited_conduct/'
                  %p
                    またブランド品でシリアルナンバー等がある場合はご記載ください。
                    =link_to '偽ブランドの販売', '/jp/help_center/getting_started/counterfeit_goods/'
                    は犯罪であり、処罰される可能性があります。
                  %p
                    また、出品をもちまして
                    =link_to '加盟店規約', '/jp/seller_terms/'
                    に同意したことになります。
                = form.submit '出品する', class: 'btn-default btn-red'
                = link_to "もどる", root_path, class: 'btn-back'
